/* style.css
* This file provides css styles.
*/

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;

}

a {
	text-decoration: none;
	color: #00aed1;
}
audio {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a:hover {
	text-decoration: underline;
}

a.action {
	font-family: Arial;
	font-size: 10px;
	padding: 1px 2px 1px 2px;
	width : 80px;
	text-decoration: none;
	color: #3cb0fd;
	border-color:#3b4b54;
	border-style: solid;
	border-width: 1px;
}

a.action:hover {
	border-color:#3cb0fd;
	border-style: solid;
	border-width: 1px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}


input
{	width: 90%;
}
textarea
{	width: 90%;
	height : 100px;
}
label
{
	display: block; /* La balise devient de type block. */
	width: 150px;

}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.half
{	width: 50%;
	float:left;
}

.full
{
	width: 90%;
	float:left;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	font-family: Arial;
	color: #ffffff;
	font-size: 12px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border:none;
	width : 100px;

}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;

}
.footer
{
	width: 90%;
	border:0px;
	border-top: 1px;
	border-style: solid;
	margin: 10px 10px 10px 10px;
	float:left;
}
.languagedetection
{
	color: #5aaafa;
	width: 10%;
	padding: 10px 10px 10px 10px;
	border-width: 10px;
	float:left;
}

.original
{
	width: 40%;
	padding: 10px 10px 10px 10px;
	float:left;
}

.translation
{
	padding: 10px 10px 10px 10px;
	width: 40%;
	float:left;
	background-color: #313f4a;
}
.speak-button {
  color: #e0e0e0; /*gray10*/
}
