</br></br>
<b>Description</b>
</br>
<p>
  The objective of this exercise is to implement  <b> IBM cloudant - NoSQL database</b> in oder to store the books.</p>
</br>
<b>Synopsis:</b>
<ul>
  <li>1- Add <b>Cloudant</b> as a service of your application, in the Bluemix Dashboard</li>
  <li>2- Open the Cloudant console using the Bluemix Dashboard</li>
  <li>3- Create a database <b>mybooks</b> from the Cloudant console</li>
  <li>4- Create an index in the <b>QUERY </b>section from the Cloudant console
    <blockquote>  {"index": {"fields": [ "type"]},"type": "json"}</blockquote>
  </li>
  <li>5- Install <b>Cloudant</b> using npm on your local environment</li>
  <li>6- Update the <b>mainpage.ejs</b> to add the type field=book as a hidden field</li>
  <li>7- Update your <b>app.js</b> to
    <ul>
      <li> Remove the notion of in-memory session</li>
      <li> Implement the CRuD primitives in the code</li>
    </ul>
    <li>8- Update the <b>bookdetails.ejs</b> to havve a consistent navigation</li>
      </ul>

  Et voila.... now it remembers !
